.stock{
  background-color: #1F3A57;
  height: 88vh;
  color: white;
  position: relative;
}

.landingImage{
  height: 100%;
  width: 90%;
  margin: 0 -5vw;
}

.landingTextlarge{
  font-weight: bolder;
  text-align: right;
  font-size: 3em;
  margin: 12vh 2vw;
  width: 100%;
  padding: 5vh 0;
}

.btnLanding{
  color: #1F3A57;
}

.link{
  margin-top: -6vh ;
  color: white;
  font-size: 0.3em;
}
.link > a{
  color: white;
}

.btn{
  background-color: #1F3A57;
  color: white;
}

.btn:hover{
  color: rgb(196, 196, 196);
}

.review{
  background-color: #DAE1E7;
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 7vh;
}

.avatar{
  border-radius: 100%;
  width: 170px;
  height: 170px;
}

.reviewText{
  font-size: 1.4em;
}

.reviewSource{
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
}