@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.logo{
  color: white;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  font-size: 1.5em;
}